.bottom-bar {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 50px;
   background-color: gba(246,246,246);
   border-top: 1px solid #b6b6b6;
   display: flex;
   flex-direction: row;
   .btn-item {
     flex:1;
     font-size: 11px; 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
}